
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@500;700&family=Barlow&family=Righteous&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/one.js"></script>
    <script src="../js/two.js"></script>

    <title>Home</title>
</head>
<body>
        <div class="header">
            <div class="icon">
                <img src="../images/logo1.jpeg" alt="">
                <h1 class="logo">PERA</h1>
                <p>Botanical Garden</p>
            </div>
              
              <nav>
                <a href="#section1">Gallery</a>
                <a href="#section2">Section 2</a>
                <a href="#section3">Section 3</a>
              </nav>        
              
        </div>
        <div class="main-container">
            <sidebar class="resources">
                <h2>Resources</h2>
                <img src="../images/logo1.jpeg" alt="">
                <ul>
                    <li><a href="https://mysltravel.com/sri-lanka-tourist-attraction-ticket-price/peradeniya-royal-botanical-garden-kandy-entrance-ticket-fee/">MYSLTravel</a></li>
                    <li><a href="https://www.botanicgardens.gov.lk/">DNBG</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Royal_Botanical_Gardens,_Peradeniya">wikipedia</a></li>
                    <li><a href="https://www.tripadvisor.com/Attraction_Review-g1194819-d523519-Reviews-Royal_Botanical_Gardens-Peradeniya_Kandy_District_Central_Province.html">TripAdvicor</a></li>
                    <li><a href="https://www.andbeyond.com/experiences/asia/sri-lanka/kandy/peradeniya-botanical-gardens/">andBeyond</a></li>
                    <li><a href="https://www.youtube.com/watch?v=B5q-GSHnuWs">D&B Travels</a></li>
                    <li><a href="https://www.abebooks.com/book-search/title/royal-botanic-gardens-peradeniya/">AbeBooks</a></li>
                </ul>    
            </sidebar>

            <div class="container">
                <div class="main-body">
                    <h1>Peradeniya Botanical garden</h1>
                    <div class="slideshow-container">

                        <div class="mySlides">
                          <img src="../images/royal-botanical-garden-peradeniya.jpg" style="width:100%">
                          
                        </div>
                        
                        <div class="mySlides">
                          <img src="../images/Peradeniya_garden_1.jpg" style="width:100%">
                          
                        </div>
                        
                        <div class="mySlides">
                          <img src="../images/Peradeniya-Botanical-Garden.jpg" style="width:100%">
                          
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>

                        <br>

                        <div style="text-align:center">
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        <span class="dot"></span> 
                        </div>
                        
                    </div>
                    <p>Royal Botanic Gardens, Peradeniya are about 5.5 km to the west of the city of Kandy in the Central Province of Sri Lanka. In 2016, the garden was visited by 1.2 million locals and 400,000 foreign visitors.[1] It is near the Mahaweli River (The longest river in Sri Lanka).[2] It is renowned for its collection of orchids. The garden includes more than 4000 species of plants, including orchids, spices, medicinal plants and palm trees.[3] Attached to it is the "National Herbarium of Sri Lanka". The total area of the botanical garden is 147 acres (0.59 km2), at 460 meters above sea level, and with a 200-day annual rainfall. It is managed by the Division of National Botanic Gardens of the Department of national botanic gardens.

                    </p>
                    <h1 class="visit">Visitors</h1>
                    <div id="counter">
                        
                    </div>
                    
                    
                </div>
                <section id="section1">
                <h2>Gallery</h2>
                    <img src="../images/download1.jpeg" alt="">
                    <img src="../images/download2.jpeg" alt="">
                    <img src="../images/download3.jpeg" alt="">
                    <img src="../images/images.jpeg" alt="">
                    <img src="../images/images2.jpeg" alt="">
                    <img src="../images/images3.jpeg" alt="">
              </section>
              
              <section id="section2">
                <h2>Charges</h2>
                    <table border="1">
                        <tr>
                            <th>Category</th>
                            <th>Ticket price</th>
                        </tr>
                        <tr>
                            <td>Foreign adults (Age 12 years and above 12 years)</td>
                            <td>2000LKR (6US$)</td>
                        </tr>
                        <tr>
                            <td>School children & university students</td>
                            <td>1200LKR (3.5US$)</td>
                        </tr>
                        <tr>
                            <td>Foreign children (Age 5 years and between 5 years to 12 years)</td>
                            <td>1000LKR (3US$)</td>
                        </tr>
                        <tr>
                            <td>Foreign infant and toddler (Bellow 5 years)</td>
                            <td>
                                Free entry
                            </td>
                        </tr>
                        <tr>
                            <td>Local adults (Age 12 years and above 12 years)</td>
                            <td>100LKR</td>
                        </tr>
                        <tr>
                            <td>Local children (Age 5 years and between 5 years to 12 years)</td>
                            <td>20LKR</td>
                        </tr>
                        <tr>
                            <td>Local infant and toddler (Bellow 5 years)</td>
                            <td>Free entry</td>
                        </tr>
                        <tr>
                            <td>Local Adults over the age of sixty (60) on producing national identity card</td>
                            <td>20LKR</td>
                        </tr>
                    </table>
              </section>
              
              <section id="section3">
                <h2>Bookings</h2>
                    <form action="" method="post">
                        <table>
                            <tr>
                                <td><label for="name"> Name with Initials</label></td>
                                    <td><input type="text" name="name" required></td>
                            </tr>
                            <tr>
                                <td><label for="nic"> NIC</label></td>
                                <td><input type="text" name="nic" required></td>
                            </tr>
                            <tr>
                                <td><label for="date"> Booking Date</label></td>
                                <td><input type="date" name="date" required></td>
                            </tr>
                            <tr>
                                <td><label for="capacity"> Number of Bookings</label></td>
                                <td><input type="number" name="capacity" required></td>
                            </tr>
                        </table>
                        

                        <button class="button"><span><b>Send </b></span></button>
                    </form>
              </section>
              
              <script>
              // Add smooth scrolling behavior to navigation links
              document.querySelectorAll('nav a').forEach(link => {
                link.addEventListener('click', scrollToSection);
              });
              
              function scrollToSection(event) {
                event.preventDefault();
                
                const targetId = this.getAttribute('href');
                const targetElement = document.querySelector(targetId);
                
                if (targetElement) {
                  window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: 'smooth'
                  });
                }
              }
              </script>
            </div>

        </div>
        <div id="footer">
            <div class="footer-details">
                <h2><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h2>
                <p>P.O.14,<br>Peradeniya,<br>Sri Lanka.<br>20400</p>
                <br>
                <h2><i class="fa fa-phone" aria-hidden="true"></i>Phone</h2>
                <p>081-2 388 088</p>
                <br>
                <h2><i class="fa fa-envelope" aria-hidden="true"></i>Email</h2>
                <p>deptnbg@gmail.com</p>
            </div>

            <div class="footer-menu">
                <ul>
                    <li><a href="#"><img src="../images/whatsapp.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/fb.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/insta.png" alt=""></a></li>
                    <li><a href="#"><img src="../images/twitter.png" alt=""></a></li>
                </ul>
            </div>

            <div class="form">
                <h2>Send Message</h2>
                    <input type="text" name="email" placeholder="name">
                    <input type="email" name="" placeholder="email address">
                    <textarea name="the-textarea" id="the-textarea" maxlength="300" placeholder="Message"autofocus></textarea>
                    
                    <div id="the-count">
                        <span id="current"></span>
                        <span id="maximum"></span>
                    </div>
                  
                    <script>
                      $(document).ready(function() {
                        $('textarea').keyup(function() {
                          let characterCount = $(this).val().length,
                              current = $('#current'),
                              maximum = $('#maximum'),
                              theCount = $('#the-count');
                  
                          current.text(characterCount);
                  
                          /*This isn't entirely necessary, just playing around*/
                          if (characterCount < 10) {
                            current.css('color', '#666');
                          }
                          if (characterCount > 20 && characterCount < 90) {
                            current.css('color', '#6d5555');
                          }
                          if (characterCount > 30 && characterCount < 100) {
                            current.css('color', '#793535');
                          }
                          if (characterCount > 40 && characterCount < 120) {
                            current.css('color', '#841c1c');
                          }
                          if (characterCount > 50 && characterCount < 139) {
                            current.css('color', '#8f0001');
                          }
                  
                          if (characterCount >= 60) {
                            maximum.css('color', '#8f0001');
                            current.css('color', '#8f0001');
                            theCount.css('font-weight', 'bold');
                          } else {
                            maximum.css('color', '#666');
                            theCount.css('font-weight', 'normal');
                          }
                        });
                      });
                    </script>
                  
                    <button class="btnn"><a href="#">Send</a></button>
            </div>
        </div>
</body>
</html>